BODY{
    TEXT-ALIGN:CENTER;
     DISPLAY:FLEX;
    FLEX-DIRECTION:COLUMN;
    ALIGN-ITEMS:CENTER;
    margin-top: 140px ;
    background-color: aqua;
}
.BOX1{
     MARGIN:10PX;
    HEIGHT:100PX;
    WIDTH:100PX;
    BORDER-RADIUS:10%;
    BACKGROUND-COLOR:MAGENTA;
    BORDER:5PX SOLID BLACK;
}
.BOX2{
    MARGIN:10PX;
    HEIGHT:100PX;
    WIDTH:100PX;
    BORDER-RADIUS:10%;
    BACKGROUND-COLOR:GREEN;
    BORDER:5PX SOLID BLACK;
}
.BOX3{
     MARGIN:10PX;
    HEIGHT:100PX;
    WIDTH:100PX;
    BORDER-RADIUS:10%;
    BACKGROUND-COLOR:RED;
    BORDER:5PX SOLID BLACK;
}
.BOX4{
     MARGIN:10PX;
    HEIGHT:100PX;
    WIDTH:100PX;
    BORDER-RADIUS:10%;
    BACKGROUND-COLOR:ORANGE;
    BORDER:5PX SOLID BLACK;
}
#BOX{
    DISPLAY:FLEX;
    FLEX-DIRECTION:ROW;
    JUSTIFY-CONTENT:CENTER;
    FLEX-WRAP:WRAP;
}
.flash{
    background-color:white;
}

